<nav>
  <ul>
    <li>
      <a href="/"><strong>SchedOrganizer</strong></a>
    </li>
  </ul>
  <ul>
    <li><a href="/settings">Settings</a></li>
    <li><a href="/subjects">Subjects</a></li>
  </ul>
</nav>
