---
import pkg from "../../package.json"
---

<nav>
  <ul>
    <li>
      <a href="/"><strong>SchedOrganizer</strong></a>
    </li>
    <li>v{pkg.version}</li>
  </ul>
  <ul>
    <li><a href="/subjects">Subjects</a></li>
    <li><a href="/settings">Settings</a></li>
    <li>
      <a href="https://github.com/pablouser1/SchedOrganizer" target="_blank">Source</a>
    </li>
  </ul>
</nav>
