---
import Head from "../components/Head.astro";
import Navbar from "../components/Navbar.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <Head title={title} description={description} />
  <body>
    <header class="container">
      <Navbar />
    </header>
    <main class="container">
      <slot />
    </main>
  </body>
</html>
